{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}{{display_title}}{% endblock %}</h2>
{% endblock %}

{% block content %}
<br /> <br />
<!-- Boutons qui permettent de filtrer par filiere-->

{% if buttons %}
<h3>Filtrer par filière : </h3>
<div id = "flexbuttons" style = "display: flex; width:80%; margin:auto;">

  {% for elem in buttons%}

    <form style = "flex: 1 1 auto; width: 10%;" action="/listeEleve" method="post">
      <input  class = "buttons" type="submit" name="filiere"  class="buttons" value={{elem}} /> <!-- Les boutons renvoient le nom de la filiere-->
    </form>

  {% endfor %}

</div>

{% endif %}
<!-- Barre de recherche par candidat-->
<h3> Rechercher un candidat en particulier : </h3>

<form action ="/dossier" method="GET">
  <input placeholder = "Code candidat" name="can_cod"  type = "text" id="can_cod" required>
  <input type="submit" value="Rechercher le candidat">
</form>

<table>  <!-- Table d'affichage des candidats-->

  <tr>

  {% for title in headers%}
    <th>{{title}}</th>                     <!-- Entêtes de la table -->
  {% endfor %}

  </tr>

  {% for item in data %}

    <tr>   <!-- Création d'un lien permettant d'aller directement sur le dossier du candidat -->

      <td> {{item[0]}}</td>  <td> {{item[1]}}</td>  <td> {% if not ATS%} <a href="dossier?can_cod={{item[2]}}"> {% else %} <a href="dossier?can_cod={{item[2]}}&ATS=True"> {% endif %} {{item[2]}} </a> </td>   {% if not ATS %} <td> {{item[3]}}</td>  {% endif %}                        <!-- Cellules qui contiennent les données -->


    </tr>

  {% endfor %}

</table>

<br /> <br /> <br />

{% endblock %}